<nb-card>
  <nb-card-header>
    Chat detail <p class="fa fa-times" (click)="close_handler()" style="display: inline; cursor: pointer;" align="right"></p>
  </nb-card-header>

  <nb-card-body>
    <div align="center">

      <div class="form-group">
        <i class="fa fa-comment fa-5x" style="display:block" ></i>
      </div>

      <div class="form-group">
        <div class=".col-6 .col-sm-4" style="display:inline-block;">
          <input type="text" [(ngModel)]="chat.name" class="form-control" id="name" placeholder="Name">
        </div>
      </div>

      <div class="form-group">
        <div class=".col-6 .col-sm-4" style="display:inline-block;">
            <input type="text" [(ngModel)]="chat.detail" class="form-control" id="detail" placeholder="Detail">
        </div>        
      </div>
      
      <div class="col-sm-6">
        <div class="form-group">
          <label>Members</label>
          <div *ngIf="chat.room;else other">
            <select multiple class="form-control">
              <option *ngFor="let m of chat.room.members">{{m.name}}</option>
            </select>
          </div>
          <ng-template #other>
            <select multiple class="form-control">
            </select>
          </ng-template>
        </div>
      </div>
    
      <div>

        <div class="form-group col-sm-1" (click)="update_handler()" style="display:inline-block; cursor: pointer;">
          <i class="fa fa-pencil fa-3x" id="update"></i><br>
          <label for="update">Update</label>
        </div>

        <div class="form-group col-sm-1" (click)="delete_handler()" style="display:inline-block; cursor: pointer;">
          <i class="fa fa-ban fa-3x" id="delete"></i><br>
          <label for="delete">Delete</label>
        </div>

      </div>

    </div>

  </nb-card-body>

</nb-card>
