<nb-layout>
  <nb-layout-column class="main-content">

  <div class="container">

    <form class="form-signin">
      <h2 class="form-signin-heading">The jade-me sign in</h2>
      
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="inputPassword" class="form-control" placeholder="Password" required>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" (click)="signin_handler()" type="submit">Sign in</button>
    </form>

  </div> <!-- /container -->
  </nb-layout-column>

  <nb-layout-footer fixed>
    <ngx-footer></ngx-footer>
  </nb-layout-footer>
  <ngx-theme-settings></ngx-theme-settings>
</nb-layout>
